html{
	height: 		100%;
}

body{
	height: 		100%;
	margin:			0px;
	padding:		0px;
	font-size:		75%;
	font-family:	"Trebuchet MS", "Helvetica", "Arial",  "Verdana", sans-serif;
	overflow:		hidden;
}

input.centered {
	text-align:		center;
}

input.editor {
	position:		absolute;
	font-family:	arial;
	font-size:		10px;
	border:			none;
	z-index:		1000;
	outline: 		none;
	background:		transparent;
}

.instancerow{
	padding-left:	20px;
}

svg{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ie-user-select:none;
	user-select: none;
}

#toolbar{
	height:			40px;
}

#wrapper{
	width:			100%;
	height: 		100%;
	margin:			0;
}

#workspace{
	position:			relative;
	margin-left:		250px;
	overflow:			auto;
	border-left:		1px solid #000;
	background-color:	#ffffff;
	z-index:			1;
}

div.wrapright{
	float:			left;
	width:			100%;
}

#chartlist{
	float:			left;
	width:			250px;
	min-height:		100px;
	margin-left:	-100%;
	overflow:		auto;
}

#chartlist .item{
	padding:		5px;
	cursor:			pointer;
}

#chartlist .item:nth-child(odd){
	background:		#fff;
}
#chartlist .item:nth-child(even){
	background:		#f6f6f6;
}


#chartlist .item:hover{
	background:		#e6e6e6;
	-moz-box-shadow: 0 0 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.5);
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

#effectarea{
	position: 		absolute;
	z-index: 		99999999;
	width: 			100%;
	height: 		100%;
	top: 			0px;
	left: 			0px;
	display:		none;
}

#apploading{
	display:			none;
	position:			absolute;
	z-index:			99999999;
	width:				100%;
	height:				100%;
	top:				0px;
	left:				0px;
	background-color:	white;
}

#apploadmsg{
	padding:			10px;
	border:				10px solid black;
	width:				34%;
	margin-left:		33%;
	margin-right:		33%;
	margin-top:			10%;
}

#examples{
	display:			none;
	position:			absolute;
	z-index:			99999999;
	width:				100%;
	height:				100%;
	top:				0px;
	left:				0px;
	background-color:	white;
	overflow:			auto;
}

#examples div.example{
	padding:			30px;
	cursor:				pointer;
	overflow:			auto;
}

#examples div.example img{
	float:				left;
	padding-right:		15px;
}

#examples div.example div{
	overflow:			auto;
}

#examples div.example div h2{
	margin-top:		0px;
}

#examples div.example:nth-child(odd){
	background:		#fff;
}
#examples div.example:nth-child(even){
	background:		#f6f6f6;
}
#examples div.example:hover{
	background:		#e6e6e6;
	-moz-box-shadow: 0 0 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.5);
	box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

#examples div.topdiv:hover{
	background:		transparent;
}

#examples div.topdiv{
	cursor:				default;
	padding:			10px;
	padding-left:		30px;
}

#examples div.topdiv span{
	position:			absolute;
	top:				20px;
	right:				20px;
	color:				red;
	cursor:				pointer;
}
