html{
	height: 		100%;
}

body{
	margin:			0px;
	padding:		0px;
	font-size:		75%;
	font-family:	"Trebuchet MS", "Helvetica", "Arial",  "Verdana", sans-serif;
	overflow:		hidden;
}

input.editor{
	position:		absolute;
	font-family:	arial;
	font-size:		10px;
	border:			none;
	text-align:		center;
	z-index:		1000;
	outline: 		none;
	background:		transparent;
}

input.title{
	position:		absolute;
	font-family:	arial;
	font-size:		40px;
	border:			none;
	text-align:		left;
	z-index:		1000;
	background:		transparent;
}

svg{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ie-user-select:none;
	user-select: none;
}

#toolbar{
	height:			40px;
}

#wrapper{
	width:			100%;
	height: 		100%;
	margin:			0;
}

#workspace{
	position:		relative;
	margin-left:	250px;
	overflow:		auto;
	border-left:	1px solid #000;
}

div.wrapright{
	float:			left;
	width:			100%;
}

#chartlist{
	float:			left;
	width:			250px;
	margin-left:	-100%;
	height:			100px;
}
