body{
	font-size: 75%;
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", sans-serif;
}

input.editor{
	position:		absolute;
	font-family:	arial;
	font-size:		10px;
	border:			none;
	text-align:		center;
	z-index:		1000;
	outline: 		none;
	background:		transparent;
}

svg{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ie-user-select:none;
	user-select: none;
}
