body{
	font-size: 75%;
	font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", sans-serif;
}

.no-select{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ie-user-select:none;
	user-select: none;
	cursor: default;
}

