html{
	height: 		100%;
}

body{
	height: 		100%;
	margin:			0px;
	padding:		0px;
	font-size:		75%;
	font-family:	"Trebuchet MS", "Helvetica", "Arial",  "Verdana", sans-serif;
	overflow:		hidden;
}

input.centered {
	text-align:		center;
}

input.editor {
	position:		absolute;
	font-family:	arial;
	font-size:		10px;
	border:			none;
	z-index:		1000;
	outline: 		none;
	background:		transparent;
}

.instancerow{
	padding-left:	20px;
}

svg{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ie-user-select:none;
	user-select: none;
}

#toolbar span.filename{
	font:				"Verdana";
	font-weight:		bold;
	padding:			10px 10px 0 0;
	float:				left;
	margin:				0 0 0 10px;
	display:			block;
}

#toolbar{
	height:				40px;
	background-color:	#999;
	width:				100%;
}

#toolbar div.toolbaritem{
	float: left;
	height:				40px;
	width:				40px;
}

#wrapper{
	width:			100%;
	height: 		100%;
	margin:			0;
}

#workspace{
	position:			relative;
	margin-left:		250px;
	overflow:			auto;
	border-left:		1px solid #000;
	background-color:	#ffffff;
	z-index:			1;
}

div.wrapright{
	float:			left;
	width:			100%;
}

#chartlist{
	float:			left;
	width:			250px;
	min-height:		100px;
	margin-left:	-100%;
	overflow:		auto;
}

#chartlist .item{
	padding:		5px;
	cursor:			pointer;
	margin-bottom:	2px;
}

#chartlist .item:nth-child(odd){
	background:		#fff;
}
#chartlist .item:nth-child(even){
	background:		#f6f6f6;
}


#chartlist .item:hover{
	background:			#e6e6e6;
	-moz-box-shadow: 	0 0 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.5);
	box-shadow: 		0 0 3px rgba(0,0,0,0.5);
}

#effectarea{
	position: 		absolute;
	z-index: 		9999;
	width: 			100%;
	height: 		100%;
	top: 			0px;
	left: 			0px;
	display:		none;
}

.dialog{
	display:			none;
	position:			absolute;
	z-index:			9999;
	width:				100%;
	height:				100%;
	top:				0px;
	left:				0px;
	background-color:	rgba(0, 0, 0, 0.5);
	text-align:			center;
}

.msgbox{
	border:				10px solid black;
	width:				50%;
	margin-left:		25%;
	margin-right:		25%;
	margin-top:			10%;
	padding:			30px;
	background-color:	white;
	position:			relative;
}

.msgbox p{
	text-align:			left;
}

#closeprogress {
	position: 		absolute;
	display:		none;
	cursor: 		pointer;
	color:			red;
	right: 			10px;
	bottom: 		10px;
}

#console{
	overflow:			auto;
	border:  			1px solid #ccc;
	display:			block;
	font-size:			1.2em;
	text-align:			left;
}


#examples{
	display:			none;
	position:			absolute;
	z-index:			9999;
	width:				100%;
	bottom:				0px;
	left:				0px;
	background-color:	white;
	overflow:			auto;
}

#examples div.example{
	padding:			30px;
	cursor:				pointer;
	overflow:			auto;
	margin-bottom:		2px;
}

#examples div.example img{
	float:				left;
	padding-right:		15px;
}

#examples div.example div{
	overflow:			auto;
}

#examples div.example div h2{
	margin-top:		0px;
}

#examples div.example:nth-child(odd){
	background:		#fff;
}
#examples div.example:nth-child(even){
	background:		#f6f6f6;
}
#examples div.example:hover{
	background:			#e6e6e6;
	-moz-box-shadow: 	0 0 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.5);
	box-shadow: 		0 0 3px rgba(0,0,0,0.5);
}

#examples div.topdiv:hover{
	background:		white;
}

#examples div.topdiv{
	cursor:				default;
	padding-top:		10px;
	padding-bottom:		10px;
	position:			fixed;
	z-index:			99999;
	left:				0px;
	top:				0px;
	width:				100%;
	height:				50px;
	background-color:	white;
	text-indent:		30px;
}

#examples div.topdiv span{
	position:			absolute;
	top:				20px;
	right:				20px;
	color:				red;
	cursor:				pointer;
}

#toolbar div.separator{
	float:				left;
	background-color:	#777;
	width:				2px;
	margin-top:			8px;
	height:				24px;
	margin-right:		1px;
	margin-left:		1px;
}


#helpdialog{
	display:			none;
	position:			absolute;
	z-index:			99999999;
	width:				100%;
	height:				100%;
	top:				0px;
	left:				0px;
	background-color:	white;
	overflow:			auto;
}

#help{
	width:				100%;
	height:				100%;
	overflow:			auto;
}

#help h1, #help p{
	padding-left: 	15px;
}

#help div.infoitem{
	width:			50%;
	float:			left;
	height:			70px;
	position:		relative;
	padding-top:	10px;
}

#help div.infoitem div.infoicon{
	height:			70px;
	width:			80px;
	float:			left;
	padding-left:	10px;
}

#infoimg{
	width:	50%;
	height:	320px;
	float: right;
	background-color: #fff;
	border-bottom:	1px solid #f6f6f6;
}

#infoimg img{
	max-width:	100%;
	max-height:	320px;
}

#help div.infoitem div.infotext{
	padding-right:		10px;
}

#help div.infoitem:nth-child(4n+2), #help div.infoitem:nth-child(4n+1){
	background:		#f6f6f6;
}
#help div.infoitem:nth-child(4n+0), #help div.infoitem:nth-child(4n+3){
	background:		#fff;
}
#help div.infoitem:nth-child(5){
	background:		#fff;
}
#help div.infoitem:nth-child(4){
	background:		#f6f6f6;
}
#helpclose{
	cursor:		pointer;
	color: 		red;
	position: 	absolute;
	top: 		10px;
	right: 		20px;
}

.hint img{
	width: 80px;
	vertical-align: middle;
}

.hint{
	cursor:			pointer;
	font-size:		2em;
	text-align:		left;
	padding-left:	100px;
	background:		#fff;
	padding-top:	5px;
	padding-bottom:	5px;
	margin-bottom:	3px;
}
.hint:hover{
	background:			#e6e6e6;
	-moz-box-shadow: 	0 0 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.5);
	box-shadow: 		0 0 3px rgba(0,0,0,0.5);
}
